name: Nightly
on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:
env:
  elixir: "1.19.2"
  otp: "28.1.1"
jobs:
  test:
    name: Test all
    runs-on: ubuntu-latest
    env:
      MIX_ENV: test
      XLA_CACHE_DIR: ${{ github.workspace }}/cache/xla
      LIBTORCH_DIR: ${{ github.workspace }}/cache/libtorch
    steps:
      - uses: actions/checkout@v5
      - uses: erlef/setup-beam@v1
        with:
          otp-version: ${{env.otp}}
          elixir-version: ${{env.elixir}}
      - uses: actions/cache@v4
        with:
          path: |
            deps
            _build
            cache
          key: ${{ runner.os }}-mix-${{env.elixir}}-${{env.otp}}-${{ hashFiles('**/mix.lock') }}
          restore-keys: |
            ${{ runner.os }}-mix-
      - run: mix deps.get
      - run: mix test --include slow
